services:
  nginx-certbot:
    build: ./nginx-certbot
    volumes:
      - certbot_challenges:/var/www/certbot
    ports:
      - "80:80"

  certbot:
    image: certbot/certbot
    volumes:
      - letsencrypt:/etc/letsencrypt
      - certbot_challenges:/var/www/certbot
    entrypoint: >
      sh -c "certbot certonly --webroot --webroot-path=/var/www/certbot 
      --email {{ email }} --agree-tos --no-eff-email 
      --keep-until-expiring -d {{ domain }} && echo '✅ Certbot finished!'"
    depends_on:
      nginx-certbot:
        condition: service_started

  shutdown-nginx-certbot:
    image: alpine
    depends_on:
      certbot:
        condition: service_completed_successfully
    command: >
      sh -c "echo 'Certbot done, shutting nginx-certbot...' && 
      sleep 2 && 
      kill -TERM 1"
    pid: "service:nginx-certbot"

  backend:
    build: .
    ports: 
      - "3000:3000"
    restart: unless-stopped

  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - letsencrypt:/etc/letsencrypt
      - certbot_challenges:/var/www/certbot
    depends_on:
      backend:
        condition: service_started
      shutdown-nginx-certbot:
        condition: service_completed_successfully
    restart: always

volumes:
  letsencrypt:
  certbot_challenges:
