# dockncrypt-template-signature: do-not-edit
# if you need to edit this manually then beware that dockncrypt edit won't work on these files
# to apply your manual edit make sure to remove these comments
# to enable editing run dockncrypt init after manual changes, it'll revert this template back to default
server {
    listen 80;
    server_name {{ domain }};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
        try_files $uri =404;
    }

    location / {
        return 404;
    }
}
